zzz-soap-web-services-in-10-steps/useful-files-not-used-in-project/courses_generated_by_spring_ws.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://in28minutes.com/courses" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://in28minutes.com/courses" targetNamespace="http://in28minutes.com/courses">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified" targetNamespace="http://in28minutes.com/courses">

			<xs:element name="getCourseDetailsRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="id" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:element name="getCourseDetailsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="course" type="tns:course" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>

			<xs:complexType name="course">
				<xs:sequence>
					<xs:element name="id" type="xs:string" />
					<xs:element name="name" type="xs:string" />
					<xs:element name="description" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getCourseDetailsRequest">
		<wsdl:part element="tns:getCourseDetailsRequest" name="getCourseDetailsRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getCourseDetailsResponse">
		<wsdl:part element="tns:getCourseDetailsResponse" name="getCourseDetailsResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CoursesPort">
		<wsdl:operation name="getCourseDetails">
			<wsdl:input message="tns:getCourseDetailsRequest" name="getCourseDetailsRequest">
			</wsdl:input>
			<wsdl:output message="tns:getCourseDetailsResponse" name="getCourseDetailsResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CoursesPortSoap11" type="tns:CoursesPort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getCourseDetails">
			<soap:operation soapAction="" />
			<wsdl:input name="getCourseDetailsRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getCourseDetailsResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CoursesPortService">
		<wsdl:port binding="tns:CoursesPortSoap11" name="CoursesPortSoap11">
			<soap:address location="http://localhost:8080/ws" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>